body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#4693b4;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 2em !important;
    font-family: 'Courier New';
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

.description {
	left: 35%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -55%);
	text-align: left;
    font-family: 'Courier New';
}
.description h1 {
	color: #b49146;
    font-size: 500%;
    margin-bottom:2rem;
    margin-top:10rem;
}
.description p {
	color: rgb(0, 0, 0);
	font-size: 1.3rem;
	line-height: 1.5;
    margin-bottom:5rem;
}
.description button {
    border:1px solid #b49146;
    background:#b49146;
    border-radius: 0;
    color:#fff;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}

#brief {
    color:rgb(0, 0, 0);
    left: 35%;
    right:10%;
	position: absolute;
	top: 130%;
	transform: translate(-50%, -55%);
	text-align: left;
    font-family: 'Courier New';
}
.image-item{
    width:24rem;
    height:35rem;
    top: 100%;
    left:70%;
    position:absolute;
    text-align: right;
}

#brief2 {
    color:rgb(0, 0, 0);
    left: 35%;
    right:10%;
	position: absolute;
	top: 220%;
	transform: translate(-50%, -55%);
	text-align: left;
    font-family: 'Courier New';
}

.image-item2{
    width:30rem;
    height:20rem;
    top: 190%;
    left:65%;
    position:absolute;
    text-align: right;
}

#brief3 {
    color:rgb(0, 0, 0);
    left: 35%;
    right:10%;
	position: absolute;
	top: 310%;
	transform: translate(-50%, -55%);
	text-align: left;
    font-family: 'Courier New';
}

.image-item3{
    width:30rem;
    height:20rem;
    top: 280%;
    left:65%;
    position:absolute;
    text-align: right;
}


.arrow-pos{
    text-align: center;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 25px;
    
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
